:root {
    --background-color: #914949;
    --first-color: #ffffff;
    --second-color: #000000;

    --body-font: "Roboto", sans-serif;
    --large-font: 60px;
    --normal-font: 20px;
}


body {
    font-family: var(--body-font);
    font-size: var(--normal-font);
    color: var(--second-color);
    background-color: var(--background-color);
    margin: 0;

}

h1, h2, p {
    margin: 0;
}

nav {
    padding: .3%;
    background-color: var(--background-color);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 300px;
    list-style-type: none;
}

nav a {
    color: var(--first-color);
    font-weight: 400;
    text-decoration: none;
}

nav a:hover {
    color:var(--second-color);
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

.text img {
    display: flex;
    width: 600px;
}

.photo img {
    display: flex;
    width: 440px;  
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding-left: 15%;
    margin-top: -10%;
   
}


.social-b{
    padding-left: 1.5%;
} 

.about {
    width: 1300px;
    height: 700px;
    border: 0;
    margin: 10%;
}
 .about img{
    margin-top: 10%;
} 

.about-text {
    margin-top: -30%;
    margin-right: 10%;
    text-align: right;
    color: var(--text-color)
}

.about-text h1 {
    font-size: var(--large-font);
    color: var(--first-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--second-color);
}

.work {
    margin-left: 12%;
}

.work h1 {
    font-size: var(--large-font);
    color: var(--first-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--second-color); 
}

.work img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: inline-block;
    max-width: 600px;
}

.contact {
    width: 1300px;
    height: 700px;
    border: 0;
    margin: 10%;
}

.contact h1 {
    font-size: var(--large-font);
    color: var(--first-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--second-color);
    padding-top: 5%;
}

.contact p {
    font-size: var(--large-font);
}