:root {
    --background-color: #914949;
    --first-color: #ffffff;
    --second-color: #000000;

    --body-font: "Roboto", sans-serif;
    --large-font: 60px;
    --normal-font: 20px;
}


body {
    font-family: var(--body-font);
    font-size: var(--normal-font);
    color: var(--second-color);
    background-color: var(--background-color);
    margin: 0;

}

h1, h2, p {
    margin: 0;
}

nav {
    padding: .3%;
    background-color: var(--background-color);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 300px;
    list-style-type: none;
}

nav a {
    color: var(--first-color);
    font-weight: 400;
    text-decoration: none;
}

nav a:hover {
    color:var(--second-color);
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

.text img {
    display: flex;
    width: 600px;
}

.photo img {
    display: flex;
    width: 440px;  
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding-left: 15%;
    margin-top: -10%;
   
}


.social-b{
    padding-left: 1.5%;
} 

.about {
    width: 1300px;
    height: 700px;
    border: 0;
    margin: 10%;
}
 .about img{
    margin-top: 10%;
} 


.about-text {
    margin-top: -30%;
    margin-right: 10%;
    text-align: right;
    color: var(--text-color)
}

.about-text h1 {
    font-size: var(--large-font);
    color: var(--first-color);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--second-color);
}

.work {
    margin-left: 12%;
}

.work h1 {
    font-size: var(--large-font);
    color: var(--first-color);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--second-color); 
}

.image-1 {
    width: 70%;
    height: auto;
    border-radius: 50%;
    align-items: flex;
}


.images {
    width: 200%;
}

.contact {
    width: 30%;
    height: 700px;
    border: 0;
    color: var(--first-color);
}

.image-me {
    width: 200%;
}

.contact h1 {
    font-size: var(--large-font);
    color: var(--first-color);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--second-color);
    padding-top: 5%;
    text-align: right;
}


input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 4px solid #b77676; /* Gray border */
    border-radius: 8px; /* Rounded borders */
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: 4px solid #b77676;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #b77676;
    color: var(--first-color)
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
  }